{% extends "layouts/main.html" %}
{% block footer %}
  {% include "includes/dwp-footer-ep.njk" %}
{% endblock %}

{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "start"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
        <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p1 class="govuk-heading-m">
        John Smith
      </p1>
      <p1 class="govuk-body-s">
        1 January 2020
      </p1> <br><br><br><br>
      <form class="form" action="child-safely2" method="post">

  {{ govukCheckboxes({
    name: "safely",
    values: data["safely"],
    fieldset: {
      legend: {
        text: "Which of these things can the child do safely and without help from another person, appropriate to their age?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "dress",
        text: "Dress and undress"
      },
      {
        value: "eat",
        text: "Eat and drink"
      },
      {
        value: "attend",
        text: "Attend to their own toilet needs"
      },
      {
        value: "these",
        text: "None of these"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  </form>
      </div>
      </div>
{% endblock %}
