{% extends "layouts/main.html" %}
{% block footer %}
  {% include "includes/dwp-footer-ep.njk" %}
{% endblock %}

{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "start"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
       <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-l">
    What is the child's level of achievement?
      </h1>
      <br>
      <form class="form"  method="post">
        <p class="govuk-body-m">
          Tell us about their speech and language ability, how they communicate, and their academic ability. Please detail any provisions.
        </p>
      <div class="govuk-form-group">
<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
</div>
    <br><br>
    {{ govukButton({
      text: "Continue",
      href: "common-dangers"
    }) }}
      </div>
      </div>
{% endblock %}
