{% extends "layouts/main.html" %}

{% block pageTitle %}
  Hospital phone – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell us the telephone number of the hospital
      </h1>




          <div class="govuk-form-group">
  <label class="govuk-label" for="national-insurance-number">
    UK telephone number
  </label>

  <input class="govuk-input govuk-!-width-one-third" id="national-insurance-number" name="nationalInsuranceNumber" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint">
</div>


    {{ govukButton({
      text: "Continue",
      href: "/part-1/hospital/why-did-they"
    }) }}



    </div>
  </div>

{% endblock %}
