{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            What is your nationality?
                        </h1>
                    </legend>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="eea-country">
                            Nationality
                        </label>
                        <select class="govuk-select" id="eea-country" name="eea-country">
                            <option value="updated" selected>Select a nationality</option>
                            <option value="Austrian">Austrian</option>
                            <option value="Belgian">Belgian</option>
                            <option value="Bulgarian">Bulgarian</option>
                            <option value="Croatian">Croatian</option>
                            <option value="Cypriot">Cypriot</option>
                            <option value="Czech">Czech</option>
                            <option value="Danish">Danish</option>
                            <option value="Department of Guadeloupe">Department of Guadeloupe</option>
                            <option value="Dutch">Dutch</option>
                            <option value="Estonian">Estonian</option>
                            <option value="Finnish">Finnish</option>
                            <option value="French">French</option>
                            <option value="Frnech Guianan">French Guianan</option>
                            <option value="German">German</option>
                            <option value="Greek">Greek</option>
                            <option value="Hungarian">Hungarian</option>
                            <option value="Icelandic">Icelandic</option>
                            <option value="Irish">Irish</option>
                            <option value="Italian">Italian</option>
                            <option value="Latvia">Latvian</option>
                            <option value="Lichtenstein">Lichtenstein</option>
                            <option value="Lithuanian">Lithuanian</option>
                            <option value="Luxembourger">Luxembourger</option>
                            <option value="Maltese">Maltese</option>
                            <option value="Martiniquais">Martiniquais</option>
                            <option value="Norwegian">Norwegian</option>
                            <option value="Polish">Polish</option>
                            <option value="Portuguese">Portuguese</option>
                            <option value="Reunion">Reunion</option>
                            <option value="Romanian">Romanian</option>
                            <option value="Slovak">Slovak</option>
                            <option value="Slovenian">Slovenian</option>
                            <option value="Spanish">Spanish</option>
                            <option value="Swedish">Swedish</option>
                            <option value="Swiss">Swiss</option>
                            <option value="Wallis and Funtuna Islander">Wallis and Funtuna Islander</option>
                        </select>
                    </div> <!-- govuk-form-group -->

                </fieldset>
            </div> <!-- govuk-form-group -->
            <form class="form" action="/part-1/check-answer" method="post">
                    {{ govukButton({
                      text: " Save and Continue"
                    }) }}

                  </form>
        </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->
</form>

{% endblock %}
