{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            What is your nationality?
                        </h1>
                    </legend>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="other-nationality">
                          Nationality
                        </label>
                        <select class="govuk-select" id="other-nationality" name="other-nationality">
                          <option value="updated" selected>Select a nationality</option>
                          {% for nationality in nationalities %}
                          <option value="{{nationality}}">{{nationality}}</option>
                          {% endfor %}
                        </select>
                    </div> <!-- govuk-form-group -->

                </fieldset>
            </div> <!-- govuk-form-group -->

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

        </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->
</form>

{% endblock %}
