{% extends "layouts/main.html" %}

{% block footer %}
  {% include "includes/dwp-footer.njk" %}
{% endblock %}

{% block header %}
 
{{
        dwpHeader({
            serviceName: "Request supporting information for Disability Living Allowance (DLA) for children",
            serviceHref: 'dashboard',
            container: true
        })
}}
{% endblock %}

{% block pageTitle %}
  Child date of birth – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
     <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>
<a class="govuk-back-link" href="dashboard">Back to View and manage supporting information</a>
{% endblock %}

{% block content %}

         <div class="govuk-grid-row">

            <!-- Main content -->
            <div class="govuk-grid-column-two-thirds">


              <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    There was a technical failure. 
    <a class="govuk-notification-banner__link" href="case-details-email-technical-failure-resend.html">Resend the email.</a>
  </strong>
</div>

  <section class="dwp-quick-reference govuk-!-margin-bottom-0" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
    <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
    <dd class="dwp-quick-reference__primary">Tim Jones Miller</dd>
    <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">Reference number:</dt>
    <dd class="dwp-quick-reference__secondary">VAD329A</dd>
  </dl>
</section>

  <span class="govuk-tag govuk-tag--red govuk-!-margin-top-0 govuk-!-margin-bottom-4">
Email not delivered
</span>

<div class="govuk-button-group">
  {{ govukButton({
  text: "Cancel request",
  href: "/evidence-gathering4/cms-view/cancel-request",
  classes: "govuk-button--secondary"
}) }}
</div>

   </div>

            <!-- Main content -->
         <div class="govuk-grid-column-full">   
     <div class="govuk-!-padding-bottom-8"></div>

          <h1 class="govuk-heading-l">Case details</h1>

<dl class="govuk-summary-list govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
    SJ 52 12 39 F
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link"><span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
       18 Feb 2025
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link"><span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Home postcode
    </dt>
    <dd class="govuk-summary-list__value">
      NE1 1NE
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link"><span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      School name
    </dt>
    <dd class="govuk-summary-list__value">
      Newtown Primary School
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link"><span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">enquiry@newtownprimary.sch.uk</p>
    </dd>
     <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="change-school-email-technical-failure">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>

   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
     Role 
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">SENCo</p>
    </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link"><span class="govuk-visually-hidden"></span></a>
    </dd>
  </div>
</dl>

<br/>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Case history</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Action</th>
      <th scope="col" class="govuk-table__header">Completed by</th>
            <th scope="col" class="govuk-table__header">Date and time</th>
    </tr>
  </thead>
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
              <td class="govuk-table__cell">Email not delivered</td>
      <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">27 March 2025 at 11:27am</td>
    </tr>
         <tr class="govuk-table__row">
              <td class="govuk-table__cell">Request sent to enquiry@newtownprimary.sch.uk</td>
      <td class="govuk-table__cell">john.smith@dwp.gov.uk</td>
            <td class="govuk-table__cell">27 March 2025 at 11:17am</td>
    </tr>
  </tbody>
</table>

        </div>
                </div>
{% endblock %}
