{% extends "layouts/main.html" %}

{% block footer %}
  {% include "includes/dwp-footer.njk" %}
{% endblock %}

{% block header %}
 
{{
        dwpHeader({
            serviceName: "Request supporting information for Disability Living Allowance (DLA) for children",
            serviceHref: 'dashboard',
            container: true
        })
}}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
     <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>

<a class="govuk-back-link" href="dashboard">Back</a>
{% endblock %}

{% block content %}

</head>
<body>
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
Search results 
 </h1> 

<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      GU 11 86 25 D
    </dd>
  </div>
</dl>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Search again",
  classes: "govuk-button--secondary",
    href: "dashboard"
}) }}

  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value govuk-body-s govuk-hint">
   3 results
    </dd>
  </div>

<hr class="govuk-section-break govuk-section-break--visible">

<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-2">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-link" >
 <a href="#" class="govuk-link">WAE8362L</a>
    </dt>
  </div>
  <div class="govuk-summary-list__row--no-border">
     <strong class="govuk-tag govuk-tag--yellow">
   Request sent 
  </strong>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value govuk-body-s">
              <span class="govuk-hint govuk-hint--small">
 Last updated: 18 August 2025
      </span>
    </dd>
     
  </div>
</dl>

<hr class="govuk-section-break govuk-section-break--visible">

<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-2">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-link" >
 <a href="#" class="govuk-link">QAR8321W</a>
    </dt>
  </div>
  <div class="govuk-summary-list__row--no-border">
     <strong class="govuk-tag govuk-tag--green">
    Response received
  </strong>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value govuk-body-s">
              <span class="govuk-hint govuk-hint--small">
 Last updated: 12 December 2023
      </span>
    </dd>
  </div>
</dl>

<hr class="govuk-section-break govuk-section-break--visible">

<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-2">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-link" >
 <a href="#" class="govuk-link">BSW3316J</a>
    </dt>
  </div>
  <div class="govuk-summary-list__row--no-border">
     <strong class="govuk-tag govuk-tag--grey">
    Request cancelled
  </strong>
  </div>
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value govuk-body-s">
        <span class="govuk-hint govuk-hint--small">
Last updated: 22 November 2021
      </span>
    </dd>
  </div>
  <!-- <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      <span class="govuk-hint govuk-hint--small">
Last updated: 22 Nov 2021
      </span>
    </dd>
  </div> -->
</dl>


</div>

</body>

</html>


{% endblock %}
