
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{
        dwpFooter({
            meta: {
                visuallyHiddenTitle: "About this website",
                items: [
                {
                    href: "/case-manager-round-5/accessibility-statement",
                    text: "Accessibility statement"
                },
                {
                    href: "https://intranet.dwp.gov.uk/page/dwp-employee-privacy-notice",
                    text: "Privacy"
                }
                ]
            }
        }) 
}}