{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/educational-professional-round-ade-5/accessibility-statement-ep.html",
        text: "Accessibility statement"
      },
      {
        href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
        text: "Privacy"
      }
    ]
  }
}) }}