{% from "internal-service-footer/macro.njk" import dwpFooter %}

{{
        dwpFooter({
            meta: {
                visuallyHiddenTitle: "About this website",
                items: [
                {
                    href: "/educational-professional-round-6/accessibility-statement-ep.html",
                    text: "Accessibility statement"
                },
                {
                    href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter",
                    text: "Privacy"
                }
                ]
            }
        }) 
}}
