{% macro appModal(params) %}
    {% set id = params.id or "app-modal" %}
    {% set isOpen = params.isOpen or false %}
    {% set title = params.title or "Dialog" %}
    {% set html = params.html or "" %}

    <div 
    class="app-modal{% if isOpen %} app-modal--open{% endif %}"
    id="{{ id }}"
    role="dialog"
    aria-modal="true"
    aria-labelledby="{{ id }}-title"
    >
    <div class="app-modal__overlay" data-app-modal-close></div>

    <div class="app-modal__dialog" role="document">
        <div class="app-modal__header">
        <h2 class="govuk-heading-m" id="{{ id }}-title">
        {{ title | safe }}
        </h2>
        </div>

        <div class="app-modal__body">
  
        {{ html | safe }}
 <form class="form" action="ref-no" method="post">
    <button type="submit"  class="govuk-button" data-module="govuk-button">
Continue providing information
</button>
</form>


<p class="govuk-body">
  <a href="/educational-professional-round-5/deleted-answers.html" class="govuk-link govuk-link--no-visited-state">
  Delete your answers
  </a>
</p>
    </div>
 </div>
{% endmacro %}

