{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
  Hospital address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Select an address
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
    <p>6 addresses found for <b>ne11ne</b> and <b>1</b>. <a href='#'>Search again</a></p>
    <div class="govuk-radios__item"> 
      <input class="govuk-radios__input" id="select-an-address" name="select-an-address" type="radio" value="1 Washington Street, Worcester, WR1 1NL"
        data-ga-question="Select an address" data-ga-answer="Answer 1">
      <label class="govuk-label govuk-radios__label" for="select-an-address">
        1 New Street, Newtown, Newtownshire, NE1 1NE
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="select-an-address-2" name="select-an-address" type="radio" value="10 Washington Street, Worcester, WR1 1NL"
        data-ga-question="Select an address" data-ga-answer="Answer 2">
      <label class="govuk-label govuk-radios__label" for="select-an-address-2">
        2 New Street, Newtown, Newtownshire, NE1 1NE
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="select-an-address-3" name="select-an-address" type="radio" value="11 Washington Street, Worcester, WR1 1NL"
        data-ga-question="Select an address" data-ga-answer="Answer 2">
      <label class="govuk-label govuk-radios__label" for="select-an-address-3">
        3 New Street, Newtown, Newtownshire, NE1 1NE
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="select-an-address-4" name="select-an-address" type="radio" value="101 Washington Street, Worcester, WR1 1NL"
        data-ga-question="Select an address" data-ga-answer="Answer 3">
      <label class="govuk-label govuk-radios__label" for="select-an-address-4">
        4 New Street, Newtown, Newtownshire, NE1 1NE
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="select-an-address-5" name="select-an-address" type="radio" value="110 Washington Street, Worcester, WR1 1NL"
        data-ga-question="Select an address" data-ga-answer="Answer 4">
      <label class="govuk-label govuk-radios__label" for="select-an-address-5">
        5 New Street, Newtown, Newtownshire, NE1 1NE
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="select-an-address-6" name="select-an-address" type="radio" value="111 Washington Street, Worcester, WR1 1NL"
        data-ga-question="Select an address" data-ga-answer="Answer 5">
      <label class="govuk-label govuk-radios__label" for="select-an-address-6">
        6 New Street, Newtown, Newtownshire, NE1 1NE
      </label>
    </div>
  </div>
</fieldset>
</div>
{{ govukButton({
  text: "Use this address",
  href: "/evidence-gathering4/cms-view/confirm-address"
}) }}
<p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
</div>

    </div>
  </div>

{% endblock %}
