//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.margin-left-signout {
  margin-left: 11rem;
}

  .govuk-hint.govuk-hint--small {
    font-size: 16px;
  }

  .govuk-notification-banner:focus {
  outline: none;
  box-shadow: none;
}

.govuk-summary-list__actions {
  width: 0%;
}