registry=https://registry.npmjs.org/

# DWP GOV.UK package scope → GitLab
@dwp-govuk:registry=https://gitlab.com/api/v4/projects/82407632/packages/npm/
//gitlab.com/api/v4/projects/82407632/packages/npm/:_authToken=${NPM_TOKEN}

# Core DWP frontend packages → Nexus
@dwp:registry=https://registry.npmjs.org/
