{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
 

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
      Case Manager Round 5 changes
    </h1>
    <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                    <p>- Removed 'A copy of the email has been saved to DRS' from the Inset text as it's not longer needed</p>
                   <p>- Added 'Child name' and 'Expected response date' as sortable columns</p>
                  </td>
               
                </tr>
              </tbody>
       
    </table>
</div>


{% endblock %}
