{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
 

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
      School Round 4 changes
    </h1>
    <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                    <p> 
                    - Yes/No option used instead of checkboxes 

</p>
                  
        <p>
                      - Full width summary list 
</p>
 <p>
                      - Moved the individual plans to the end of the questions  
</p>
 <p>
                      - Added check your answers when the user clicks 'No' on child details 
</p>
 <p>
                      - Added bullet points on the question pages 
</p>
 <p>
                      - Moved individual plans to at the end of the questions
</p>
                  </td>
               
                </tr>
              </tbody>
       
    </table>
</div>


{% endblock %}
