{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
 

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
      School Round 5 changes
    </h1>
    <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                    <p> 
                    - Added info about email domain added to the 'Enter your work email address' screen
                    <br/>
                    - One time passcode changes with having 'Get passcode' to begin with and a manual passcode expired flow
                     <br/>
                     - School email address added to check your answers
                      <br/>
                     - Textphone removed
                            <br/>
                     - Inset text added to the start now screen with info about using the service to let us know that you cannot provide information about the child.
                                               <br/>
                     - 'No-longer-need-a-response' screen updated to one screen, instead of the 
                     response cancelled and already received a response screens.
</p>
                  </td>
               
                </tr>
              </tbody>
       
    </table>
</div>


{% endblock %}
