{% extends "layouts/main.html" %}

{% block footer %}
  {% include "includes/dwp-footer-cm.njk" %}
{% endblock %}

{% block header %}
 
{{
        dwpHeader({
            serviceName: "Request supporting information for Disability Living Allowance (DLA) for children",
            serviceHref: 'dashboard',
            container: true
        })
}}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>

<a class="govuk-back-link" href="dashboard">Back</a>
{% endblock %}

{% block content %}

</head>
<body>
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
Search results 
 </h1> 


<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      National Insurance number
    </dt>
    <dd class="govuk-summary-list__value">
      GU 11 86 25 D
    </dd>
  </div>
</dl>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Search again",
  classes: "govuk-button--secondary",
    href: "dashboard"
}) }}

   <div class="govuk-hint">
  4 results
      </div>

  <hr class="govuk-section-break govuk-section-break--visible">

<ul class="govuk-list">
  <li class="govuk-body govuk-!-margin-top-4">
     <div class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
     <a class="govuk-link" href="case-details" >KW8424V</a>
     </div>
       <div class="govuk-tag govuk-tag--red govuk-!-margin-bottom-2">
   Response overdue
  </div>
    <div class="govuk-hint govuk-hint--small">
 Last updated: 10 April 2025
      </div>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--visible">
<ul class="govuk-list">
  <li class="govuk-body govuk-!-margin-top-4">
     <div class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
     <a class="govuk-link" href="#" >WAE8362L</a>
     </div>
       <div class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
   Request sent 
  </div>
    <div class="govuk-hint govuk-hint--small">
 Last updated: 18 August 2024
      </div>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--visible">
<ul class="govuk-list">
  <li class="govuk-body govuk-!-margin-top-4">
     <div class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
     <a class="govuk-link" href="#" >QAR8321W</a>
     </div>
       <div class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
     Response received
  </div>
    <div class="govuk-hint govuk-hint--small">
Last updated: 12 December 2023
      </div>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--visible">
<ul class="govuk-list">
  <li class="govuk-body govuk-!-margin-top-4">
     <div class="govuk-!-margin-bottom-2 govuk-!-font-weight-bold">
     <a class="govuk-link" href="#" >BSW3316J</a>
     </div>
       <div class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
      Request cancelled
  </div>
    <div class="govuk-hint govuk-hint--small">
Last updated: 22 November 2021
      </div>
  </li>
</ul>

</div>

</body>

</html>


{% endblock %}
