{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
  Behaviour in school
    </label>
  </h1>
 <p class="govuk-body">
  Tell us about their behaviour at school. For example:
 </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    whether they present with any challenging behaviours
  </li>
  <li>
   whether they need support with their emotional regulation
  </li>
    <li>
  whether any intervention is needed due to their behaviour
  </li>
     <li>
 any adaptations to support them, including additional supervision
  </li>
      <li>
whether there has been any incidents that required more intervention than usual in the last 6 months
  </li>
</ul>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
   {{ govukButton({
    text: "Continue",
    href: "move-around-school"
  }) }}

  </form>
      </div>
      </div>
{% endblock %}
