{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page 2 - GOV.UK Prototype</title>
</head>
<body>
  {% block pageTitle %}
    Page 2
  {% endblock %}

  {% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page 2</h1>
        <p class="govuk-body">This is the second page.</p>

        <form action="/evidence-gathering5/schools-view/checkboxes/submit-page2" method="post" novalidate>
          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  {% endblock %}
</body>
</html>
