{% extends "layouts/main.html" %}

{% block pageTitle %}
  Child Address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset">
        <h1 class="govuk-heading-l">
          Bank, building society or credit union account details</h1>
      <div class="govuk-form-group">
        <label class="govuk-label" for="name-on-the-account">
          Name on the account
        </label>
        <input class="govuk-input" id="name-on-the-account" name="nameOnTheAccount" type="text" spellcheck="false" autocomplete="name">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="sort-code">
          Sort code
        </label>
        <div id="sort-code-hint" class="govuk-hint">
          Must be 6 digits long
        </div>
        <input class="govuk-input govuk-input--width-5 govuk-input--extra-letter-spacing" id="sort-code" name="sortCode" type="text" spellcheck="false" aria-describedby="sort-code-hint" inputmode="numeric">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="account-number">
          Account number
        </label>
        <div id="account-number-hint" class="govuk-hint">
          Must be between 6 and 8 digits long
        </div>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="account-number" name="accountNumber" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="roll-number">
          Building society roll number (if you have one)
        </label>
        <div id="roll-number-hint" class="govuk-hint">
          You can find it on your card, statement or passbook
        </div>
        <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="roll-number" name="rollNumber" type="text" spellcheck="false" aria-describedby="roll-number-hint">
      </div>
</fieldset>
{{ govukButton({
  text: "Continue",
  href: "welsh"
}) }}

    </div>
  </div>

{% endblock %}
