{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <h1 class="govuk-heading-l">
View and manage supporting information  </h1> <br>
  <table class="govuk-table" data-module="moj-sortable-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="ascending">National Insurance number</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Case reference number</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Child name</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Child date of birth</th>

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Created</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Last updated</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">GK 05 47 14 W</td>

      <td class="govuk-table__cell"> <a href="#">FGE8364F</a></td>

      <td class="govuk-table__cell">Oliver  Charles Smith</td>

      <td class="govuk-table__cell">23 Oct 2010</td>

      <td class="govuk-table__cell" data-sort-value="6961">18 Feb 2025</td>

      <td class="govuk-table__cell">12 Apr 2025</td>

      <td class="govuk-table__cell">Request sent</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">ES 47 25 85 B </td>

    <td class="govuk-table__cell"> <a href="#">KW8424V</a></td>

      <td class="govuk-table__cell">Summer Baker-Oates</td>

      <td class="govuk-table__cell">6 Feb 2014</td>
      <td class="govuk-table__cell" data-sort-value="6961">1 Mar 2025</td>

      <td class="govuk-table__cell">17 Apr 2025</td>

      <td class="govuk-table__cell">Email not delivered</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">DT 46 27 58 D</td>

    <td class="govuk-table__cell"> <a href="#">LEB7435C</a></td>

      <td class="govuk-table__cell">Zara Begum</td>

      <td class="govuk-table__cell">19 Dec 2015</td>
      <td class="govuk-table__cell" data-sort-value="6961">18 Nov 2024</td>

      <td class="govuk-table__cell">22 Mar 2025</td>

      <td class="govuk-table__cell">Request delivered</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">LJ 34 29 66 C</td>

      <td class="govuk-table__cell"> <a href="#">HDJ2123F</a></td>

      <td class="govuk-table__cell">Evie Scarlett Johnson</td>

      <td class="govuk-table__cell">24 Mar 2020</td>
      <td class="govuk-table__cell" data-sort-value="6961">6 Feb 2025</td>

      <td class="govuk-table__cell">17 Apr 2025</td>

      <td class="govuk-table__cell">Reminder sent</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">TX 67 67 23 A</td>

      <td class="govuk-table__cell"> <a href="#">VED348Q</a></td>

      <td class="govuk-table__cell">Prisha Amir Singh</td>

      <td class="govuk-table__cell">28 May 2014</td>
      <td class="govuk-table__cell" data-sort-value="6961">28 Dec 2024</td>

      <td class="govuk-table__cell">2 Apr 2025</td>

      <td class="govuk-table__cell">Technical failure</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">LJ 34 29 66 C</td>

      <td class="govuk-table__cell"> <a href="#">CVI362B</a></td>

      <td class="govuk-table__cell">Jack George Cook</td>

      <td class="govuk-table__cell">17 Nov 2013</td>
      <td class="govuk-table__cell" data-sort-value="6961">5 Jan 2025</td>

      <td class="govuk-table__cell">23 Apr 2025</td>

      <td class="govuk-table__cell">Reminder delivered</td>

    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">YM 87 00 99 B</td>

      <td class="govuk-table__cell"> <a href="#">MMS842F</a></td>

      <td class="govuk-table__cell">Amy Hannah Dawson</td>

      <td class="govuk-table__cell">26 Apr 2017</td>
      <td class="govuk-table__cell" data-sort-value="6961">22 Jan 2025</td>

      <td class="govuk-table__cell">13 Mar 2025</td>

      <td class="govuk-table__cell">Request started</td>

    </tr>

  <tr class="govuk-table__row">

    <td class="govuk-table__cell">XZ 85 89 77 C</td>

    <td class="govuk-table__cell"> <a href="#">MKO835D</a></td>

    <td class="govuk-table__cell">Muhammad Abdullah Abadi</td>

    <td class="govuk-table__cell">24 Dec 2018</td>
    <td class="govuk-table__cell" data-sort-value="6961">6 Dec 2025</td>

    <td class="govuk-table__cell">18 Jan 2025</td>

    <td class="govuk-table__cell">Response received</td>

  </tr>



  </tbody>
</table>
{{ govukButton({
  text: "Send new request for supporting information",
  href: "/evidence-gathering3/child-details"
}) }}
</div>
{% endblock %}
