{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p1 class="govuk-heading-m">
        John Smith
      </p1>
      <p1 class="govuk-body-s">
        1 January 2020
      </p1> <br><br><br><br>
      <h1 class="govuk-heading-l">
      Does the child have an education plan in place?
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        This could include an Educational Health and Care Plans (ECHP), an Independent Educational Bursary (IEB), an Individual Behavior Plan (IBP) or equivalent.
       </div>
      <form class="form"  method="post">
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ep1" name="ep" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="ep1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ep2" name="ep" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="ep2">
          No
        </label>
      </div>
    </div>
    <br><br>
    <button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
  </form>
      </div>
      </div>
{% endblock %}
