{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h1 class="govuk-heading-l">
        Tell us about their level of awareness of common dangers
      </h1>
      <br>
      <form class="form"  method="post">
        <p class="govuk-body-m">
          Tell us about things like:  </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>any special requirements for school trips</li>
            <li>whether they need to be supervised in the playground</li>
            <li>whether their road safety awareness is different than that of other children of the same age</li>
          </ul>
      <div class="govuk-form-group">
<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
</div>
    <br><br>
    {{ govukButton({
      text: "Continue",
      href: "child-safely"
    }) }}
      </div>
      </div>
{% endblock %}
