{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers before sending the information request to the school</h1>

<!-- Child details -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Child details
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Do you know this child?
           <div class="govuk-hint">
    Evie Scarlett Johnson
  </div>
        </dt>
        <dd class="govuk-summary-list__value">
        Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (Lead tenant)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Are you happy to provide 
information about 
them
        </dt>
        <dd class="govuk-summary-list__value">
         No
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> nationality (Lead tenant)</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
        24 March 2020
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> working situation (Lead tenant)</span></a>
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Your details -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Your details
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
         Seymour Skinner
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Role 
        </dt>
        <dd class="govuk-summary-list__value">
         Special Educational Needs<br>
Co-ordinator
        </dd>
      </div>
         <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        UK phone number 
        </dt>
        <dd class="govuk-summary-list__value">
        07700 700 007
        </dd>
      </div>
          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
       Email address
        </dt>
        <dd class="govuk-summary-list__value">
       enquiry@newtownprimary.sch.uk
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Provided information -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Provided information
    </h2>
       <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
           Whether they need additional support at 
school
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">Yes</p>
        </dd>
      </div>

            <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
         Difficulty they have moving safely and independently around school, appropriate to their age
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">Yes</p>
        </dd>
      </div>

                  <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        Awareness of common dangers and road safety, appropriate to their age
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">No</p>
        </dd>
      </div>

                        <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        If they need help with eating and drinking, dressing and undressing, or managing their own toliet needs, appropriate to their age
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">Yes</p>
        </dd>
      </div>

                           <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        Therapy or medication while at school
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">Yes</p>
        </dd>
      </div>

                                 <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
       Behavioural difficulties at school as a result of their condition
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">Yes</p>
        </dd>
      </div>

                                       <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
       Whether they have any significant incidents due to their health condition that required intervention within the last 6 months
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">Yes</p>
        </dd>
      </div>

                                            <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
      Whether any sleep problems have been brought to your attention
        </dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body">Yes</p>
        </dd>
      </div>
 
    </dl>
  </div>
</div>
<!-- Additional support at school -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     Additional support at school
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
         Tell us about the additonal support they require at school:
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
         They have a teaching assistant and monthly speech therapy.
        </dd>
      </div>
 
  
    </dl>
  </div>
</div>
<!-- Walking safely and independently at school -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
   Walking safely and independently at school
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        Tell us about how they move around at school:
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
         The struggle to move around by...
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Awareness of common dangers and road safety -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
   Awareness of common dangers and road safety
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        Tell us about their level of awareness of common dangers:
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
         The need special requirements for school trips.
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Support with activities -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
  Support with activities
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        Tell us about the support they need with activities:
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        The need help to dress and undress.
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Therapy or medication -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
  Therapy or medication
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
       Does the child need to be reminded or helped to take their medication?
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
        Yes
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Behavioural difficulties -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
  Behavioural difficulties
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
      Tell us about their behavioural difficulties:
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
     Their behaviour is affected by...
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Significant incidents -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
Significant incidents
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
      Tell us about any significant incidents that required intervention:
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
    The incidents happen...
        </dd>
      </div>
    </dl>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
      Is there a formal plan in place to help with significant incidents?
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
    Yes
        </dd>
      </div>
    </dl>
  </div>
</div>
<!-- Sleep problems -->
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
  Sleep problems 
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="child-details.html">Change<span class="govuk-visually-hidden">Child details</span></a>
      </li>
  
    </ul>
  </div>
  
  <div class="govuk-summary-card__content">
<dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
     Tell us about their sleep problems:
        </dd>
      </div>
     <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
    They have regular...
        </dd>
      </div>
    </dl>
  </div>
</div>

        <h2 class="govuk-heading-m">Now send the information request to the school</h2>
        <p class="govuk-body">By submitting this request you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <form action="confirmation" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
