{% extends "layouts/main.html" %}

{% block header %}
 
{{
        dwpHeader({
            serviceName: "Request supporting information for Disability Living Allowance (DLA) for children",
            serviceHref: 'dashboard',
            container: true
        })
}}
{% endblock %}


{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
 

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
      Case Manager Round 5 changes
    </h1>
    <table class="govuk-table">

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                    <p>- Removed 'A copy of the email has been saved to DRS' from the Inset text as it's not longer needed</p>
                   <p>- Added 'Child name', 'Expected response date' and 'Last updated' as sortable columns</p>
                   <p>- 'Sign out' button removed</p>
                   <p>- 'Optional' added to the national insurance number in the create new request flow</p>
                   <p>- Back link changed to 'Back to search results' and 'Back to Back to View and manage supporting information' on the case details screen depending on where the user acesses the screen from.</p>
                  <p>- Email preview removed</p>
                 <p>- Check the details and resend screens added to change email flow </p>
                <p>- Check the details and send the reminder screen added</p>
                <p>-'Created by' removed from NINO search screen</p>
                <p>- reminder delivered and request delivered removed</p>
                <p>- Case history updated to include email changed</p>
                <p>- Case history column headers changed</p>
                <p>- Cases you submitted removed from the Dashboard</p>

                  </td>
               
                </tr>
              </tbody>
       
    </table>
</div>


{% endblock %}
