{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-l">
        About the child
      </p>
      <p class="govuk-heading-m">
        Immigration status for
      </p>
      <p class="govuk-heading-m">
        Joe Bloggs
      </p>
      <p class="govuk-body-s">
        National insurance: AA 11 22 33 BB
      </p>
      <p class="govuk-heading-m">
        Home address
      </p>
      <p class="govuk-body-s">
        1 street</p>
        <p class="govuk-body-s">New town</p>
        <p class="govuk-body-s">  AB1 2CD
      </p>
      <p class="govuk-heading-m">
        Date of birth
      </p>
      <p class="govuk-body-s">
      02 Jan 2017
      </p>

      <p class="govuk-heading-m">
        Father's name
      </p>
      <p class="govuk-body-s">
      Jack Bloggs
      </p>
      <p class="govuk-heading-m">
        Mother's name
      </p>
      <p class="govuk-body-s">
      Jane Bloggs
      </p>
      <p class="govuk-heading-m">
        Nationality
      </p>
      <p class="govuk-body-s">
      Canada and the UK
      </p>

      <br>
      <br>


    {{ govukButton({
      text: "Continue",
      href: "/part-1/claimed-benefits"
    }) }}
      </div>
      </div>
{% endblock %}
