{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Tell us how often they need help each day and how long it takes each time
      </h1>
      <br>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          On average how many nights each week do they need encouragement, prompting or assistance to get into, get out of or turn in bed?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many minutes does this take each time?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          On average how many nights each week do they need encouragement, prompting or assistance to use the toilet, manage nappies or pads?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many minutes does this take each time?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many times a night do they need the help?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          On average how many nights each week do they need encouragement, prompting or assistance to have treatment?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many minutes does this take each time?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many times a night do they need the help?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          On average how many nights each week do they need encouragement, prompting or assistance to settle or re-settle?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many minutes does this take each time?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many times a night do they need the help?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          On average how many nights each week do they need supervision because they are unaware of danger or may harm themselves or others?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many minutes does this take each time?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many times a night do they need the help?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          On average how many nights each week do they need supervision because they may wander about?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many minutes does this take each time?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many times a night do they need the help?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          On average how many nights each week do they need supervision because they have behavioural problems?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many minutes does this take each time?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="one-third">
          How many times a night do they need the help?
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="one-third" name="oneThird" type="text">
      </div>
    <br>
{{ govukButton({
  text: "Continue",
  href: "/end-screen"
}) }}

    </div>
  </div>

{% endblock %}
