{% extends "layouts/main.html" %}

{% block pageTitle %}
  Child other names – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Sharing information about the child's medical condition with DWP
      </h1>
       <p>We might need to ask your child's doctor or other healthcare professional for relevant
         information about your child's medical condition.<p>

           <p>You do not have to give your consent. If you do not,
             we will make a decision based on information we already have,
             or which you tell us about.<p>
             <h2 class="govuk-heading-m">
               How we use this information?
             </h2>
             <p>We use this information to:</p>

             <ul class="govuk-list govuk-list--bullet">
               <li>process your claim more quickly</li>
               <li>make a decision on your claim,
                 or any mandatory reconsideration or appeal you make</li>
             </ul>
             <h2 class="govuk-heading-m">
               If you change your mind
             </h2>
             <p>You can tell us that you want to give or
               withdraw your consent by calling the
               Disability Living Allowance for Children
               helpline on 0800 121 4600.</p>
      <h2 class="govuk-heading-m">
        Do you consent to information about
        your child's medical condition being shared with DWP?
      </h2>

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>




    </div>

    <br>
    <br>
    {{ govukButton({
      text: "Continue",
      href: "/end-screen"
    }) }}
  </div>

{% endblock %}
