{% extends "layouts/main.html" %}

{% block footer %}
  {% include "includes/dwp-footer.njk" %}
{% endblock %}

{% block header %}
 
{{
        dwpHeader({
            serviceName: "Request supporting information for Disability Living Allowance (DLA) for children",
            serviceHref: 'dashboard',
            container: true
        })
}}
{% endblock %} 


{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>


{% endblock %}

{% block content %}

<!-- CSS for Sorting Status -->
<style>
/* MOJ-style sorting indicators positioned closer to text */
.govuk-table__header[aria-sort] {
cursor: pointer;
position: relative;
user-select: none;
padding-right: 25px;
}

.govuk-table__header[aria-sort]:hover {
background-color: #f3f2f1;
}

.govuk-table__header[aria-sort] {
color: #1d70b8;
}

.govuk-table__header[aria-sort]:after {
content: "";
position: absolute;
right: 65px;
top: 35%;
transform: translateY(-50%);
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
margin-left: 3px;
}

.govuk-table__header[aria-sort="none"]:after {
border-bottom: 7px solid #1d70b8;
}

.govuk-table__header[aria-sort="ascending"]:after {
border-bottom: 7px solid #1d70b8;
}

.govuk-table__header[aria-sort="descending"]:after {
border-top: 7px solid #1d70b8;
}

/* Make table responsive for 6 columns */
.govuk-table {
font-size: 16px;
}

.govuk-tag {
  font-size: 16px;
}

.govuk-table__cell,
.govuk-table__header {
padding: 8px 15px 8px 0;
}


</style>

</head>
<body>
<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
Manage supporting information  </h1> <br>
{{ govukButton({
  text: "Send new request",
  href: "child-details"
}) }}

<form method="post" action="national-insurance-number">
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Search by National Insurance number
  </label>

  <input class="govuk-input govuk-input--width-10" id="width-9" name="width10" type="text">
  
  <button class="govuk-button govuk-button--secondary" type="submit">
    Search 
  </button>
  </form>


</div>

</div>

</body>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</html>

{% endblock %}
