{% extends "layouts/main.html" %}
{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "start"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
        <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
Support they need to move around or transition at school
    </label>
  </h1>
 <p class="govuk-body">
  Tell us about any support they need to move around or transition at school that is more than that of other children of the same age. For example:
 </p>
<ul class="govuk-list govuk-list--bullet">
  <li>
  support they need to move around indoors, including between rooms
  </li>
  <li>
support they need to move around outdoors
  </li>
    <li>
  support they need to transition between spaces
  </li>
     <li>
any aids or adaptations they may use
  </li>
      <li>
any times that they refuse to walk
  </li>
</ul>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
   {{ govukButton({
    text: "Continue",
    href: "personal-safety-question"
  }) }}

  </form>
      </div>
      </div>
{% endblock %}
