{% extends "layouts/main.html" %}
{% from "includes/modal-shorter.njk" import appModal %}

{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "start"
}) }}
{% endblock %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
      </strong>
        <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and
          <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>. 
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form class="form"  method="post">
  <h1 class="govuk-heading-l">
  Enter the reference number
  </h1>
  <label class="govuk-label" for="more-detail">
   This is the reference number that we sent by email.
 </label> <br>
 <div id="more-detail-hint" class="govuk-hint">
    For example, ABC1234Z.
  </div>
  <div class="govuk-form-group">
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
  </div>
    {{ govukButton({
      text: "Continue",
      href: "email-otp"
    }) }}
</form>
  </div>
</div>

{{ appModal({
  id: "example-modal",
  title: "Your answers are about to be 
deleted",
  isOpen: true,
  html: "
  <p class='govuk-body'>
   For your security, we will delete your 
answers in <strong><strong>15 minutes</strong>.
  </p>
  
  "
}) }}

{% endblock %}
