{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{{ govukServiceNavigation({
  serviceName: "Provide supporting information for Disability Living Allowance (DLA) for children",
  serviceUrl: "#"
}) }}
{% endblock %}
 

{% block content %}

<div class="govuk-grid-row">
  

  <h1 class="govuk-heading-xl">
      DLA-CHILD Prototype
    </h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">View</th>
          <th scope="col" class="govuk-table__header">Round</th>
        </tr>
      </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">CMs view</th>
                  <td class="govuk-table__cell">
                    <a href="/evidence-gathering3/dashboard">Round 3</a><br>
                    <a href="/evidence-gathering4/cms-view/dashboard">Round 4</a><br><br>
                  </td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Schools view</th>
                  <td class="govuk-table__cell">
                    <a href="/evidence-gathering2/ref-no">Round 0</a><br>
                    <a href="/evidence-gathering3/ref-no">Round 1</a><br>
                    <a href="/evidence-gathering4/schools-view/start">Round 2</a><br>
                    <a href="/evidence-gathering5/schools-view/checkboxes/start">Round 3 (checkboxes)</a><br>
                    <a href="/evidence-gathering5/schools-view/radio-buttons/start">Round 3 (radio buttons)</a>
                  </td>
                </tr>
              </tbody>
    </table>
</div>


{% endblock %}
