{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <h1 class="govuk-heading-xl">
      DLA-CHILD Prototype
    </h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Changes from previous version</th>
          <th scope="col" class="govuk-table__header">Links</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Part 1 of form</th>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="part-1/start-page"></a>Initial Prototype</li>
                </ul>
              </td>
              <td class="govuk-table__cell">
                <a href="part-1/start-page">Part 1</a> <br><br>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Time in hospital</th>
                  <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                      <li><a href="#"></a>Initial Prototype</li>
                    </ul>
                  </td>
                  <td class="govuk-table__cell">
                    <a href="part-1/hospital/child-in-hospital">Time in hospital</a> <br><br>
                  </td>
                </tr>
              </tbody>
    </table>
  </div>
</div>


{% endblock %}
