{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
{{ super() }}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
 
{% endblock %}
 
{% block content %}

<div class="govuk-grid-row">

  <span class="govuk-caption-xl">DLA child: supporting information </span>
  <h1 class="govuk-heading-xl">
     Prototype rounds
    </h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Round</th>
          <th scope="col" class="govuk-table__header">What changed</th>
        </tr>
      </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Case Manager</th>
                  <td class="govuk-table__cell">
                    <a href="/case-manager-round-3/dashboard">Round 3</a>
                    <br> 
                      <div class="govuk-hint govuk-body-s">
                 Send new request flow with home address. 
                  </div>
                    <br>
                    <a href="/case-manager-round-4/dashboard">Round 4</a>
                      <div class="govuk-hint govuk-body-s">
                 Case details flow added with cases you submitted and search by NINO / Case Reference Number. 
                  </div>
                    <br>
                    <a href="/case-manager-round-5/dashboard">Round 5 (MVP)</a>
                        <div class="govuk-hint govuk-body-s">
                  Cancel request and case you submitted removed. Column changes to the case history with the email changed included.  
                  </div>
                    <br>
                    <a href="/case-manager-round-5-post-mvp/dashboard">Round 5 (Post MVP)</a>
                       <div class="govuk-hint govuk-body-s">
                  Prepared post MVP changes of the prototype to include cancel request and case you submitted.
                  </div>
                    
                  </td>
                         <td class="govuk-table__cell">
                 <a href="/"></a><br><br><br>
                    <a href="changes/cm-round-4-changes.html">Changes</a>

                    <br>
                    <br><br><br><br><br>
                    
                    <a href="changes/cm-round-6-changes.html">Changes</a><br>
                    <br><br><br>
                    <a href="changes/cm-round-6-post-mvp-changes.html">Changes</a><br>
                  </td>
                </tr>
              </tbody>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Education Professional</th>
                  <td class="govuk-table__cell">
                    <a href="/educational-professional-round-0/ref-no">Round 0</a>
                           <div class="govuk-hint govuk-body-s">
                 Initial flow with one-time passcode and questions. 
                  </div>
                                      <br>

                    <a href="/educational-professional-round-1/ref-no">Round 1</a>
                             <div class="govuk-hint govuk-body-s">
                 Name and date of birth removed from the options screen.  
                  </div>
                    <br>
                    
                    <a href="/educational-professional-round-2/start">Round 2</a>
                                  <div class="govuk-hint govuk-body-s">
                 Changed the questions to a checkbox style with upload files removed. 
                  </div>
                    <br>
                   <a href="/educational-professional-round-3/checkboxes/start">Round 3: Select multiple options</a> 
                   <br>
                   <a href="/educational-professional-round-3/radio-buttons/start">Round 3: Select one option</a>
                              <div class="govuk-hint govuk-body-s">
                 We tested two versions, one with users using checkboxes to select which info they’d like and the other using radio buttons yes/no options.
                  </div>
                    <br>
                   <a href="/educational-professional-round-4/email">Round 4</a> 
                <div class="govuk-hint govuk-body-s">
                Added check your answers when the user clicks 'No' on child details.
                  </div>
                    <br>
                   <a href="/educational-professional-round-5/email">Round 5 (MVP)</a> 
  <div class="govuk-hint govuk-body-s">
                 School email address added to check your answers and expiry code changed to 15 minutes. 
                  </div>
                    <br>
                  </td>

                             <td class="govuk-table__cell">
                    <a href="/"></a><br><br><br><br>
                    <a href="changes/ep-round-1-changes">Changes</a><br>
                    <br><br><br>
                    <a href="changes/ep-round-2-changes">Changes</a><br>
                     <br><br><br>
                     <a href="changes/ep-round-3-changes">Changes</a><br><br>
                      <br><br><br>
                     <a href="changes/ep-round-4-changes">Changes</a><br>
                      <br><br>
                     <a href="changes/ep-round-5-changes">Changes</a><br>

                  </td>
                </tr>
              </tbody>

                    <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Archived</th>
                  <td class="govuk-table__cell">
                    <a href="archiveindex">Archived Rounds</a>
                      <div class="govuk-hint govuk-body-s">
                 These are archived ideas for the initial prototype, created before testing. 
                  </div>
                    <br>
                  </td>
                            <td class="govuk-table__cell">            

                  </td>
                </tr>
              </tbody>
            

    </table>


</div>


{% endblock %}
