{% extends "layouts/main.html" %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-l">Request for supporting information email</h1>
          <table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">From</th>
      <td class="govuk-table__cell">DWP (dla-c@dwp.gov.uk)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">To</th>
      <td class="govuk-table__cell">Newtown Primary School (enquiry@newtownprimary.sch.uk)</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Subject</th>
      <td class="govuk-table__cell">Request for supporting information from Department for Work and Pensions</td>
    </tr>
  </tbody>
</table>

<p class="govuk-body">Dear SENCo,</p>
<p class="govuk-body">We have received an application to claim Disability Living Allowance for Children from the parent or guardian of Evie Scarlett Johnson. </p>
<p class="govuk-body">They have given their consent for us to contact you, as someone who knows Evie Scarlett Johnson and can tell us more about the help and support they need at school.</p>
<p class="govuk-body">The information we need includes: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>any individuals plans in place </li>
  <li>any additional learning support that they get, or would benefit from</li>
  <li>their behaviour at school </li>
  <li>any support they need to move around at school</li>
    <li>how they manage their own personal safety </li>
    <li>how they manage their own personal care</li>
    <li>any therapy or medicaton while at school </li>
    <li>any sleep problems</li>
</ul>
<p class="govuk-body">
  <a href="start" class="govuk-link govuk-link--no-visited-state">Use the online service to enter the reference number</a>
</p>

<ol class="govuk-list govuk-list--number">
  <li>Enter reference number <strong>HDJ2123F</strong>.</li>
  <li>For security purposes, give us an email address where we can send a one-time password.</li>
  <li>Enter the one-time password that you will  receive by email.</li>
</ol>

<p class="govuk-body">
   You will then be able to provide the supporting information needed. Please do this by (response by date)).
</p>

<h3 class="govuk-heading-s">Contact us</h3>

<p class="govuk-body">You can <a href="https://www.gov.uk/disability-benefits-helpline#dla-helpline---if-you-were-born-after-8-april-1948" class="govuk-link">contact us</a> using reference number <strong>HDJ2123F</strong>. 
  <br>  <br>
  Any information you give will be stored securely and accessed only by DWP case managers who are handling this application.</p>

<p class="govuk-body">
    Yours sincerely, <br>
Office Manager
</p>

<h3 class="govuk-heading-s">
We have many different ways we can communicate with you
</h3>

<p class="govuk-body">
If you would like braille, British Sign Language, a hearing loop, translations, large print, audio or something else please tell us. 
</p>


<h3 class="govuk-heading-s">
Treating people fairly
</h3>

<p class="govuk-body">
We are committed to the Equality Act 2010 and treating people fairly. To find out more about this law, search 'Equality Act' on
<a href="#" class="govuk-link">www.gov.uk</a>.
</p>

<h3 class="govuk-heading-s">
Why DWP needs personal information and how we treat it
</h3>

<p class="govuk-body">
DWP needs the information requested for the purpose of performing our functions as a government department. 
<br><br>

We take data protection seriously and treat personal information carefully. To find out more about how we use information and for what purposes, please visit our DWP 
Personal Information Charter at <a href="#" class="govuk-link">http://www.gov.uk/dwp/personal-information-charter</a>.
</p>

      </div>
    </div>
  </main>
</div>
{% endblock %}
