{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
      </strong>
      <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
  </p>
</div>
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p1 class="govuk-heading-m">
        John Smith
      </p1>
      <p1 class="govuk-body-s">
        1 January 2020
      </p1> <br><br><br><br>
      <h1 class="govuk-heading-l">
    Please provide details
      </h1>
      <br>
      <form class="form"  method="post">
      <div class="govuk-form-group">
<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
</div>
    <br><br>
    {{ govukButton({
      text: "Continue",
      href: "/evidence-gathering2/child-medication"
    }) }}
      </div>
      </div>
{% endblock %}
