{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block header %}
    {{
        dwpHeader({
            serviceName: "Request supporting information for Disability Living Allowance (DLA) for children",
            serviceHref: '/',
            container: true
        })
    }}
{% endblock %}

{% block footer %}
      {{ govukFooter({
      meta: {
        items: [
          {
            href: "/sprint-90/accessibility-statement",
            text: "Accessibility Statement"
          },
          {
            href: "#",
            text: "Cookies"
          },
          {
            href: "https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" if locale != 'NI' else "https://www.communities-ni.gov.uk/dfc-privacy-notice",
            text: "Privacy"
          },
          {
            href: "/clear-data",
            text: "Clear data"
          }
        ]
      }
    }) }}
    {% endblock %}